<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="Gedrek 1" />
    <meta property="og:description" content="Just have fun to play this Multi Level Game" />
    <meta property="og:image" content="../static/img/banner-gedrek-1.png" />

    <link rel="icon" href="../static/img/gedrek-1-icon.png">
    <title>Gedrek 1</title>

    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
</head>

<body>
    <audio id="bg-music" autoplay loop allow="autoplay">
        <source src="../static/music/music.mp3" type="audio/mp3">
    </audio>

    <canvas></canvas>

    <div class="start-music">
        <div>
            <button id="play">Play Music</button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js" integrity="sha512-cOH8ndwGgPo+K7pTvMrqYbmI8u8k6Sho3js0gOqVWTmQMlLIi6TbqGWRTpf1ga8ci9H3iPsvDLr4X7xwhC/+DQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../static/js/utils.js"></script>
    <script src="../static/js/data/collisions.js"></script>
    <script src="../static/js/classes/CollisionBlock.js"></script>
    <script src="../static/js/classes/Sprite.js"></script>
    <script src="../static/js/classes/Player.js"></script>
    <script src="../static/js/event_listener.js"></script>
    <script src="../static/js/index.js"></script>
</body>

</html>